.Nav-Wrapper{
    background-color: dimgrey;
    text-align: left;  
    position:fixed;
    z-index: 10;
    width: 100%;
}
.Nav-Itmes{
    margin-left: 1%;
  
}

.Nav-Itmes>a{
margin-right: 2%;
font-size: 2vw;
color: azure;
font-weight:400;
text-decoration: none;
}

.ImageSizing{
    width: 28vw;
    height: 5vw;
    padding-right: 40vw;
}

